﻿<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta lang="ja" charset="utf-8" />

    <!--
        必要に応じて、次のメタ タグでコンテンツ セキュリティ ポリシーをカスタマイズします。default-src に 'unsafe-inline' を追加して、インライン JavaScript を有効にします。
        詳細については、http://go.microsoft.com/fwlink/?LinkID=617521 を参照してください。
    -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *">
    <title>BlankCordovaApp1</title>

    <!-- BlankCordovaApp1 参照 -->
    <link href="css/index.css" rel="stylesheet" />
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet"  media="screen"/>
    <script src="scripts/angular.js"></script>
    <script src="angularsrc/maincontainer.js"></script>

    <!-- UI BootStrap -->
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css"></link>
    <script type="text/javascript" src="scripts/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="scripts/angular.js"></script>
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script> -->
    <c:RemoteTK />


</head>
<body style="margin-top:40px">
    <!-- navbar  -->
    <nav class="navbar navbar-default navbar-fixed-top" style="position:fixed;">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-apple" style="font-size:24px;"></span></a>
                <button type="button" class="btn btn-primary navbar-btn">Sign in</button>
                <a href="#formModal" type="button" class="btn btn-default navbar-btn pull-right" data-toggle="modal" role="button"><span class="glyphicon glyphicon-pencil"></span></a>
                <button type="button" class="btn navbar-btn pull-right"><span class="glyphicon glyphicon-envelope"></span><span class="badge">14</span></button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Link</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <!-- main container -->
    <!--よくわかんね- とこ
         list-groupにng-repeatでitemを並べたい-->
    <div class="container" style="padding:20px" ng-controller="maincontainer">
        <div class="list-group" >
            <ul style="list-style:none;">
                <li ng-repeat="list in listgroup">
                    <div class="list-group-item">
                        <!--<img class="pull-left" src="images/" width="30" height="30" style="margin-right:10px;" />-->
                        <h4 class="list-group-item-heading">{{list.img}} : {{list.title}}</h4>
                        <p class="list-group-item-text">{{list.text}}</p>
                    </div>
                </li>
            </ul>
        </div>


        </div>


            <!--<div class="list-group">
                <div class="list-group-item">
                    <img class="pull-left" src="images/alien.png" width="30" height="30" style="margin-right:10px;" />
                    <h4 class="list-group-item-heading">header</h4>
                    <p class="list-group-item-text">blue green red silver</p>
                </div>


                <div class="list-group-item">
                    <img class="pull-left" src="images/mask18.png" width="30" height="30" style="margin-right:10px;" />
                    <h4 class="list-group-item-heading">header</h4>
                    <p class="list-group-item-text">blue green red silver</p>
                </div>
                <div class="list-group-item">
                    <img class="pull-left" src="images/alien.png" width="30" height="30" style="margin-right:10px;" />
                    <h4 class="list-group-item-heading">header</h4>
                    <p class="list-group-item-text">blue green red silver</p>
                </div>


                <div class="list-group-item">
                    <img class="pull-left" src="images/mask18.png" width="30" height="30" style="margin-right:10px;" />
                    <h4 class="list-group-item-heading">header</h4>
                    <p class="list-group-item-text">blue green red silver</p>
                </div>
                <div class="list-group-item">
                    <img class="pull-left" src="images/alien.png" width="30" height="30" style="margin-right:10px;" />
                    <h4 class="list-group-item-heading">header</h4>
                    <p class="list-group-item-text">blue green red silver</p>
                </div>


                <div class="list-group-item">
                    <img class="pull-left" src="images/mask18.png" width="30" height="30" style="margin-right:10px;" />
                    <h4 class="list-group-item-heading">header</h4>
                    <p class="list-group-item-text">blue green red silver</p>
                </div>
            </div>
        </div>-->




    <!-- Form Modal-->
    <div id="formModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>test form</h4>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <span class="input-group-addon" id="test-title">title</span>
                        <input type="text" class="form-control" placeholder="Titel" aria-describedby="test-title" />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" id="test-text">text</span>
                        <input type="text" class="form-control" placeholder="text" aria-describedby="test-text" style="" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>









    <!-- Cordova のリファレンス。アプリのビルド時にアプリに追加されます。 -->
    <script src="scripts/jquery-1.11.3.min.js"></script>
    <!--<script src="cordova.js"></script>-->
    <script src="scripts/platformOverrides.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>

    <script src="scripts/index.js"></script>
</body>
</html>
